.logo-animate {
   width: 6%;
   position: absolute;
   top: 32%;
   animation: animateLogo 0.5s linear forwards;
   animation-delay: 7.3s;
   left: -16%;
   z-index: 1;
}

@keyframes animateLogo {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
      left: 73%;
   }
}

@keyframes animateSwipeOut {
   0% {
      left: 0%;
   }

   100% {
      left: 100%;
   }
}
