.nav-list {
   li {
      animation: AnimationList 0.5s linear forwards;
      margin-left: -200px;
      cursor: pointer;
   }
   li:first-child {
      animation-delay: 7s;
   }

   li:nth-child(2) {
      animation-delay: 7.2s;
   }

   li:nth-child(3) {
      animation-delay: 7.4s;
   }

   li:nth-child(4) {
      animation-delay: 7.6s;
   }
   li:nth-child(5) {
      animation-delay: 7.8s;
   }
}

@keyframes AnimationList {
   0% {
   }

   100% {
      margin-left: 0px;
   }
}
