@media screen and (max-width: 414px) {
   .intro-div {
      #intro-title {
         flex-direction: column;
         margin: 35% 0% 0% 11%;
         font-size: 20vw;
      }
      #intro-body {
         margin: 25% 0% 0% 11%;
         font-size: 15vw;
      }
   }
   #square,
   #doubleArrow,
   #triangle,
   #static-doubleArrow-1,
   #static-triangle-1,
   #doubleTriangle,
   #static-square-1,
   #static-triangle-3,
   #hexagon,
   #static-hexagon-5 {
      display: none;
   }
}
