@import './smoke.scss';
@import './logoAnimate.scss';
@import './navAnimate';

html {
   background-color: #1d1d1d;

   body {
      margin: 0;
      padding: 0px;
      font-family: -apple-system, BlinkMacSystemFont, 'Ropa Sans', 'Roboto', 'Verdana', 'Helvetica' sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      overflow: hidden;
   }
   a {
      text-decoration: none;
      color: #fbaf3b;
   }
   a:hover {
      color: #d5155a;
   }
}

::selection {
   background: #4a5568; /* WebKit/Blink Browsers */
}
::-moz-selection {
   background: #4a5568; /* Gecko Browsers */
}

.App {
   text-align: center;
   font-family: 'Ropa Sans', sans-serif;

   color: white;
   font-size: calc(10px + 2vmin);
}

.nav-main {
   width: 90px;
   background-color: #181818;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   #nav-main-logo {
      img {
         width: 90px;
      }
   }
   #nav-main-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
   }
   #nav-main-list > * {
      margin: 40px 0px;
   }
   #nav-main-list a:nth-child(5) {
      margin-top: 100px;
   }
}

.intro-div {
   text-align: left;
   position: absolute;
   z-index: 1;
   margin: 15% 20% 0% 20%;
   #intro-title {
      display: flex;
      font-size: 100px;
      text-shadow: 2px 2px #112dc7;
   }
   #intro-body {
      font-size: 40px;
      text-shadow: 2px 2px #112dc7;
   }
}

.services {
   display: flex;
   justify-content: center;
   margin: 100px;
   margin-right: 0px;
   margin-top: 200px;
   img {
      width: 280px;
      box-shadow: 15px 29px 35px 8px #000000;
      margin: 30px;
   }
}

.diagonal-box-one {
   height: 50vw;
   text-align: left;
   opacity: 1;
   display: flex;
   justify-content: center;
   iframe {
      border: none;
      width: 500px;
   }
}

.copyright,
.footer {
   position: absolute;
   bottom: 0px;
   width: 100%;
   margin-bottom: -13px;
   #wave {
      position: relative;
      z-index: -101;
      margin-bottom: -0px;
   }
}

.footer {
   margin-bottom: 24%;
}

#copyright-text {
   position: absolute;
   bottom: -5%;
   width: 100%;
   text-align: center;
   margin-bottom: 40px;
   font-size: 12px;
}

.project-div {
   text-align: left;
   .project-cards {
      text-align: left;
      display: flex;
      justify-content: center;
      margin-top: -50px;
   }
   .card {
      width: 400px;
      margin: 30px;
      background-color: #1d1d1d;
   }

   #project-title {
      margin: 18px 100px;
   }
   .card-content,
   .card-action {
      font-size: 12px;
   }
}

.open {
   position: absolute;
   z-index: 2;
   height: 101.7%;
   width: 100%;
   background-color: #000000;
   animation: animateSwipeOut 0.5s ease-out forwards;
   animation-delay: 10s;
   h1 {
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 3em;
      letter-spacing: 0.3em;
      z-index: 2;
   }
}

h1 span {
   display: inline-block;
   animation: animate 1s linear forwards;
   opacity: 0;
   font-style: italic;
}

video {
   object-fit: cover;
   position: absolute;
   top: 13%;
   left: 15%;
}

@keyframes animate {
   0% {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(10px);
   }

   100% {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0px);
   }
}

h1 span:nth-child(1) {
   animation-delay: 0.8s;
}

h1 span:nth-child(2) {
   animation-delay: 0.9s;
}

h1 span:nth-child(3) {
   animation-delay: 1s;
}

h1 span:nth-child(4) {
   animation-delay: 1.1s;
}

h1 span:nth-child(5) {
   animation-delay: 1.2s;
}

h1 span:nth-child(6) {
   animation-delay: 1.3s;
}

h1 span:nth-child(7) {
   animation-delay: 1.4s;
}

h1 span:nth-child(8) {
   animation-delay: 1.7s;
}

h1 span:nth-child(9) {
   animation-delay: 1.8s;
}

h1 span:nth-child(10) {
   animation-delay: 1.9s;
}

h1 span:nth-child(11) {
   animation-delay: 2s;
}

h1 span:nth-child(12) {
   animation-delay: 2.1s;
}

h1 span:nth-child(13) {
   animation-delay: 2.2s;
}

h1 span:nth-child(14) {
   animation-delay: 2.3s;
}

/*# sourceMappingURL=style.css.map */
