#arrowDown {
   background-color: yellow;
}

#doubleArrow {
   background-color: orange;
}

#triangle {
   position: absolute;
   stroke: currentColor;
   fill: none;
   color: ORANGE;
   width: 12rem;
   left: 10%;
   top: 20%;
}

#square {
   background-color: blue;
}

#cross {
   background-color: red;
}

#arrowUp {
   background-color: purple;
}

#hexagon {
   background-color: violet;
}

#circle {
   background-color: green;
}

#doubleTriangle {
   background-color: skyblue;
}
