@import 'squares.js';

#arrowDown {
   background-color: yellow;
}

#doubleArrow {
   position: absolute;
   stroke: none;
   fill: currentColor;
   color: #4a5568;
   width: 6rem;
   left: 40%;
   top: 80%;
}

#triangle {
   position: absolute;
   stroke: currentColor;
   fill: none;
   color: ORANGE;
   width: 12rem;
   left: 10%;
   top: 20%;
   display: block;
}

#square {
   position: absolute;
   stroke: none;
   fill: currentColor;
   color: #805ad5;
   width: 16rem;
   left: 5%;
   top: 90%;
}

#cross {
   position: absolute;
   stroke: currentColor;
   fill: none;
   color: #ed64a6;
   width: 4rem;
   left: 28%;
   top: 15%;
}

#arrowUp {
   background-color: purple;
}

#hexagon {
   position: absolute;
   stroke: currentColor;
   fill: none;
   color: #e53e3e;
   width: 12rem;
   left: 60%;
   top: 70%;
}

#circle {
   position: absolute;
   stroke: none;
   fill: currentColor;
   color: #48bb78;
   width: 16rem;
   left: 95%;
   top: 5%;
}

#doubleTriangle {
   position: absolute;
   stroke: none;
   fill: currentColor;
   color: #3182ce;
   width: 4rem;
   left: 80%;
   top: 10%;
}

@mixin theme() {
   position: absolute;
   stroke: none;
   fill: currentColor;
}
