#arrowDown {
   background-color: yellow;
}

#doubleArrow {
   background-color: orange;
}

#triangle {
   background-color: pink;
}

#square {
   background-color: blue;
}

#cross {
   background-color: red;
}

#arrowUp {
   background-color: purple;
}

#hexagon {
   background-color: violet;
}

#circle {
   background-color: green;
}

#doubleTriangle {
   background-color: skyblue;
}

#triangle {
   background-color: aqua;
}
