html {
   background-color: #141821;
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Ropa Sans', 'Roboto', 'Verdana', 'Helvetica' sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow: hidden scroll;
   background-color: #141821;
}

.App {
   text-align: center;
   font-family: 'Ropa Sans', sans-serif;
   background-color: #141821;
}

.background {
   min-height: 500vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.nav {
}

.body {
}

.footer {
}

// Animations

.hexagon {
   animation: pulse 3s ease infinite alternate, nudge 5s linear infinite alternate;
}

@keyframes pulse {
   0%,
   100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(200px);
   }
}

.intro-div {
   margin: 25%;
}
